<h1>To-Do List</h1>

<div>
    @for (task of taskList; track task; let i = $index) {
    <div>
        <input type="checkbox" id="status_{{i}}" name="status" [(ngModel)]="task.params.status">
        <textarea [(ngModel)]="task.params.taskDescription"> {{ task.params.taskDescription }} </textarea>
        <button (click)="delteTask(i)">Delete</button>
    </div>
    }
</div>

<form (ngSubmit)="addTask(); taskForm.resetForm()" #taskForm="ngForm">
    <label for="description">Description</label><br>
    <input
    type="text" id="description" name="description"
    [(ngModel)]="newTaskDescription" required #descriptionInput="ngModel"
    aria-describedby="descriptionError">
    @if (descriptionInput.invalid && (descriptionInput.touched || descriptionInput.dirty)) {
        <span id="descriptionError" aria-live="polite">
            Please enter a description
        </span>
      }
    <br><input type="submit" value="Submit" [disabled]="!taskForm.form.valid">
</form>