.gridContainer{
    background-color: #309898;
    display: grid;
    max-width: 600px;
    margin: 0;
    height: 100%;
    grid-template: 80px 1fr / 1fr 1fr;
    grid-template-areas: 
        "clock pomodoro"
        "task task";
    border-radius: 15px;
    padding: 20px;
}

@media(width < 450px){
    .gridContainer{
        grid-template: 80px 80px 1fr / 1fr;
        grid-template-areas: 
            "clock"
            "pomodoro"
            "task";
        margin: 0;
        height: 100%;
    }
}

section:task{
    grid-area: task;
}
section:clock{
    grid-area: clock;
}
section:pomodoro{
    grid-area: pomodoro;
}
