.app-layout{
    display: grid;
    grid-template: 60px 1fr 60px / 1fr;
    grid-template-areas: 
        'header'
        'main'
        'footer';
    height: 100vh;
}

.app-layout header{
    text-align: center;
}

.app-layout header h1{
    margin: 0;
    padding: 1rem 0;
}

.app-layout main {
    padding: 10px;
}

.app-layout footer{
    text-align: center;
    background: #f5f5f5;
}
